name: 02-workflow-events
on: 
    # push:
    # pull_request:
    # schedule:
        # - cron: '*/5 * * * *'
    workflow_dispatch:
jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: workflow events
              run: echo "Triggered step in ${{github.event_name}}"